@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;1,300;1,400&display=swap');
@import url('https://unpkg.com/@fortawesome/fontawesome-free@5.15.4/css/all.min.css');
@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

* {
    font-family: Roboto;
}

body {
    margin: 0;
    background-color: black;
    display: flex;
    justify-content: center; 
    align-items: center; 
    flex-direction: column;
    min-height: 100vh;
    animation: fadeInAnimation ease-in-out 0.3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

h1 {
    text-align: center;
    font-size: 50px;
    color: white;
    border-radius: 5px; 
    padding: 10px;
}

#particles-js {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1; 
}

.fa-magnifying-glass {
    color: white;
}

  #clock {
  display: block;
  color: #fff;
  text-align: center;
  margin-top: 30px;
  padding: 15px;
  position: fixed;
  text-decoration: none;
  font-size: 24px;
  font-weight: bold;
  background-color: #252525b0;
  backdrop-filter: blur(3px); 
  border-radius: 20px;
  box-shadow: 0 2px 4px rgb(0, 0, 0);
  transition: background-color 0.3s, transform 0.2s;
  }

  #clock:hover {
    background-color: #4c4c4ca8; 
    backdrop-filter: blur(3px);
  }

form input {
    background: none;
    font-family: inherit;
    padding: 0px 17px;
    height: 48px;
    border: 1px solid rgb(255, 255, 255, .2);
    color: var(--text-color);
    outline: none;
    width: 350px;
    text-align: center;
    margin-top: 5px;
    border-radius: 50px;
    color: #FFF;
}

form input:focus {
    border: 1px solid rgba(87, 87, 87, 0.514);
    border-radius: 50px;
}
